body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url("C:\Users\mdalt\Downloads\wallpaperflare.com_wallpaper (3).jpg") no-repeat center center fixed;
  background-size: cover;
  transition: background 0.5s ease-in-out, color 0.3s;
}

body.dark-mode { background: #0d1117; color: white; }

.app { text-align: center; padding-top: 80px; color: #fff; }

.toggle-btn { position: absolute; top: 20px; right: 20px; background: transparent; border: none; font-size: 26px; color: #fff; cursor: pointer; }

.search-box { max-width: 400px; margin: auto; padding: 30px; border-radius: 20px; box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); background: rgba(255, 255, 255, 0.2); backdrop-filter: blur(8px); -webkit-backdrop-filter: blur(8px); color: #fff; }

.search-box h2 { margin-bottom: 20px; }

.search-box input { padding: 10px; border-radius: 8px; border: none; width: 70%; margin-right: 10px; }

.search-box button { padding: 10px 16px; border-radius: 8px; border: none; background: #00bcd4; color: #fff; cursor: pointer; font-weight: bold; }

.profile-card { margin-top: 40px; background-color: rgba(255, 255, 255, 0.15); padding: 20px; border-radius: 16px; backdrop-filter: blur(10px); width: 300px; margin-left: auto; margin-right: auto; }

.profile-card img { width: 100px; border-radius: 50%; }

.profile-card h3 { margin: 10px 0 5px; }

.profile-card a { display: inline-block; margin-top: 10px; color: #00bcd4; text-decoration: none; font-weight: bold; }

.error-msg { color: #ff4d4d; font-weight: bold; margin-top :15px ;}